$primary-color: rgb(226, 157, 7);
$primary-text-color: rgb(37, 37, 37);
$game: rgb(37, 37, 37);

body {
  margin: 0;

  header {
    height: 10px;
    width: calc(100% - 20px);
    padding: 5px 10px;
    background-color: $primary-color;
    color: $primary-text-color;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .experience-window{
    width: 100vw;
    height: 100vh;
    background-color: $game;
    position: relative;
    z-index: 1;
  }

  .feedback{
    padding: 5px 10px;
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 10px;
    background: red;
    color: white;
    cursor: pointer;
  }

  .modal{
    width: 600px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: calc((100% - 600px) / 2);
  }

  footer{
    height: 10px;
    width: 100%;
    background-color: $primary-color;
    position: absolute;
    bottom: 0;
    z-index: 10;
  }
}